<div class="container-fluid w3-text-grey card">
    <div class="pl-3 pt-4 pb-4">
        <h1> Welcome Admin</h1>
        <h5>Your Investors Info Are ready For You</h5>
    </div>
    <ul class="nav nav-tabs w3-text-grey">
        <li class="nav-item">
            <a class="nav-link active w3-text-grey" href="dashboard">Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link w3-text-grey" href="withdraws">Withdraws</a>
        </li>
        <li class="nav-item">
            <a class="nav-link w3-text-grey" href="clients">Clients</a>
        </li>
        <li class="nav-item">
            <a class="nav-link w3-text-grey" href="promo">Promo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link w3-text-grey" href="admins">Admins</a>
        </li>
        <li class="nav-item">
            <a class="nav-link w3-text-grey" href="investments">Investments</a>
        </li>
    </ul>
</div>