<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfect Trade | {{Page}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/glyphicon.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/uikit.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/w3.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/training_v1.01.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <link rel="manifest" href="https://w.mytrlk.com/index.php?id_promo=5059713_1&promokeys=624ce41316a167db23279ef652c01636&aff_sourceid=&clickid="> -->
    <script src="{{url_for('static', filename='/js/uikit.js')}}"></script>
    <script src="{{url_for('static', filename='/js/uikit.min.js')}}"></script>
    <script src="{{url_for('static', filename='/js/uikit-icons.js')}}"></script>
    <!-- <script src="https://w.mytrlk.com/index.php?id_promo=5059713_1&promokeys=624ce41316a167db23279ef652c01636&aff_sourceid=&clickid="></script> -->
    <style>
        body {
            width: 100%;
        }
    </style>
</head>

<body class="uk-container">

    {% block content%} {% endblock%}
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='js/training_v1.01.js')}}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='/js/uikit-icons.min.js')}}"></script>