{% extends 'Trainings/layout.html' %}{% block content %} {% include 'Trainings/components/offcanvas.html' %} {% include 'Trainings/components/nav.html' %}

<div class="uk-container" style="margin-top:7%;">
    <div class="uk-container">
        <div class="container">
            <div class="row">
                <div class="col-11 col-md-4"></div>
                <div class="col-12 col-md-4">
                    <div class="uk-card uk-card-default uk-card-large uk-card-body">
                        <h3 class="uk-card-title">Training And Serminars</h3>
                        <p>Perfect Trade offers Training And online/Offline Serminars Which Is Targeted At Training Individuals About The Forex Market.You can Proceed To view Our Prcing and Then Register. Or you Can Login If You have an Account </p>
                        <div class="mybuttons d-flex ">
                            <button class="uk-button uk-button-default w3-card w3-red ml-auto" style="border-radius: 20px;" uk-toggle="target: #offcanvas-reveal">PROCEED
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                  </svg>
                                  </button>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-4"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}