<div class="about w3-center p-5 bg-dark" id="about">
    <div class="container">
        <div class="row p-5">
            <div class="col-12 col-md-6">
                <div class="">
                    <h2 class="w3-text-red">About Us</h2>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="w3-text-light-grey">
                    <h6 class="w3-text-light-grey"> Perfect Trades Platform is a Nigerian Based Company established January 2021 By Salem Etong assisted by his co-trader Micheal Innocent and others. We are strictly into trading of various currencies, crypto currencies and also indices
                        Such as CFD indices and Synthetic indices with lots of investments and assets... we also sell Forex and indices based signals for exchanges
                    </h6>
                    <button class="btn btn-danger">Read More ...</button>
                </div>
            </div>
        </div>
    </div>
</div>