<div class="w3-center faq">
    <div class="container w3-padding">
        <h2 class="w3-text-green">FAQ</h2>
        <div class="row">
            <div class="col-12 col-md-4 mb-2">
                <div class="faq-items w3-white w3-padding container w3-text-grey">
                    <div class="questions">
                        <span class="w3-large">Lorem Ipsum dolor sit amet</span>
                        <button class="btn w3-pale-green w3-right w3-text-green w3-round" id="more-1">Hide</button>
                    </div>

                    <div class="answers-1">
                        <hr>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ut libero quaerat veritatis earum impedit voluptate commodi nihil recusandae. Architecto obcaecati dolores officiis ex sapiente quae ullam deleniti ratione eius.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="faq-items w3-white w3-padding container w3-text-grey">
                    <div class="questions">
                        <span class="w3-large">Lorem Ipsum dolor sit amet</span>
                        <button class="btn w3-pale-green w3-right w3-text-green w3-round" id="more-2">Hide</button>
                    </div>

                    <div class="answers-2">
                        <hr>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ut libero quaerat veritatis earum impedit voluptate commodi nihil recusandae. Architecto obcaecati dolores officiis ex sapiente quae ullam deleniti ratione eius.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="faq-items w3-white w3-padding container w3-text-grey">
                    <div class="questions">
                        <span class="w3-large">Lorem Ipsum dolor sit amet</span>
                        <button class="btn w3-pale-green w3-right w3-text-green w3-round" id="more-3">Hide</button>
                    </div>

                    <div class="answers-3">
                        <hr>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ut libero quaerat veritatis earum impedit voluptate commodi nihil recusandae. Architecto obcaecati dolores officiis ex sapiente quae ullam deleniti ratione eius.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="faq-items w3-white w3-padding container w3-text-grey">
                    <div class="questions">
                        <span class="w3-large">Lorem Ipsum dolor sit amet</span>
                        <button class="btn w3-pale-green w3-right w3-text-green w3-round" id="more-4">Hide</button>
                    </div>

                    <div class="answers-4">
                        <hr>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ut libero quaerat veritatis earum impedit voluptate commodi nihil recusandae. Architecto obcaecati dolores officiis ex sapiente quae ullam deleniti ratione eius.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="faq-items w3-white w3-padding container w3-text-grey">
                    <div class="questions">
                        <span class="w3-large">Lorem Ipsum dolor sit amet</span>
                        <button class="btn w3-pale-green w3-right w3-text-green w3-round" id="more-5">Hide</button>
                    </div>

                    <div class="answers-5">
                        <hr>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ut libero quaerat veritatis earum impedit voluptate commodi nihil recusandae. Architecto obcaecati dolores officiis ex sapiente quae ullam deleniti ratione eius.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="faq-items w3-white w3-padding container w3-text-grey">
                    <div class="questions">
                        <span class="w3-large">Lorem Ipsum dolor sit amet</span>
                        <button class="btn w3-pale-green w3-right w3-text-green w3-round" id="more-6">Hide</button>
                    </div>

                    <div class="answers-6">
                        <hr>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ut libero quaerat veritatis earum impedit voluptate commodi nihil recusandae. Architecto obcaecati dolores officiis ex sapiente quae ullam deleniti ratione eius.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="faq-items w3-white w3-padding container w3-text-grey">
                    <div class="questions">
                        <span class="w3-large">Lorem Ipsum dolor sit amet</span>
                        <button class="btn w3-pale-green w3-right w3-text-green w3-round" id="more-7">Hide</button>
                    </div>

                    <div class="answers-7">
                        <hr>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ut libero quaerat veritatis earum impedit voluptate commodi nihil recusandae. Architecto obcaecati dolores officiis ex sapiente quae ullam deleniti ratione eius.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="faq-items w3-white w3-padding container w3-text-grey">
                    <div class="questions">
                        <span class="w3-large">Lorem Ipsum dolor sit amet</span>
                        <button class="btn w3-pale-green w3-right w3-text-green w3-round" id="more-8">Hide</button>
                    </div>

                    <div class="answers-8">
                        <hr>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ut libero quaerat veritatis earum impedit voluptate commodi nihil recusandae. Architecto obcaecati dolores officiis ex sapiente quae ullam deleniti ratione eius.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="faq-items w3-white w3-padding container w3-text-grey">
                    <div class="questions">
                        <span class="w3-large">Lorem Ipsum dolor sit amet</span>
                        <button class="btn w3-pale-green w3-right w3-text-green w3-round" id="more-9">Hide</button>
                    </div>

                    <div class="answers-9">
                        <hr>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ut libero quaerat veritatis earum impedit voluptate commodi nihil recusandae. Architecto obcaecati dolores officiis ex sapiente quae ullam deleniti ratione eius.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>