<div style="border-radius:50px;">
    <div class="bg-dark w3-center pt-2" style="border-radius:10px;">
        <div class="">
            <div class="d-md-flex justify-content-md-end justify-content-center">
                <div class="d-flex justify-content-center ">

                    <div class="w3-padding w3-border-right w3-border-grey">
                        <h6 class="w3-text-red">https://t.me/Salemite00</h6>
                        <h6 class="w3-text-grey">Message For Support(Telegram)</h6>
                    </div>
                    <div class="w3-padding">
                        <h6 class="w3-text-red">Perfecttrades.com@gmail.com</h6>
                        <h6 class="w3-text-grey">Email Us</h6>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-md navigation sticky-top bg-dark navbar-dark" style="border-radius: 40px;">
        <!-- Brand -->
        <a class="navbar-brand w3-xlarge salem-font" href="#">
            <h1 class="w3-text-green salem-font" style="font-size: 60px;">Salem Fx</h1>
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
       </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse  " id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto mr-auto">
                <li class="nav-item">
                    <a class="nav-link w3-text-grey" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link w3-text-grey" href="#guarantees">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link w3-text-grey" href="#plans">Plans</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link w3-text-grey" href="#contacts">Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link w3-text-grey" href="#chart">Charts</a>
                </li>
                <!-- <li class="nav-item">
                <a class="nav-link w3-text-green" href="#">Link</a>
            </li> -->
            </ul>
            <ul class="navbar-nav justify-content-right">
                <li class="nav-item">
                    <a class="nav-link w3-text-green" href="/login"><button class="w3-button w3-small w3-hover-pale-green link-btn w3-hover-text-green w3-pale-green w3-text-green">Login</button></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link w3-text-green" href="/signup"><button class="w3-button w3-small link-btn w3-hover-pale-red w3-hover-text-red w3-pale-red w3-text-red">Sign Up</button></a>
                </li>
            </ul>
        </div>
    </nav>
</div>