<div class="w3-center bg-light" id="payment">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h2 class="w3-text-red mt-5">Our Payment Methods</h2>
            </div>
            <div class="col-12 col-md-6">
                <div class="container w3-center p-5">
                    <div class="row">
                        <div class="col-6 col-md-3 w3-center mb-3">
                            <div class="zoom">
                                <img src="{{ url_for('static', filename='images/perfect_money.png') }}" height="40" width="40" alt="">
                                <h6 class="w3-text-red">Perfect Money</h6>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 w3-center mb-3">
                            <div class="zoom">
                                <img src="{{ url_for('static', filename='images/paystack.png') }}" height="40" width="40" alt="">
                                <h6 class="w3-text-blue">PayStack</h6>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 w3-center mb-3">
                            <div class="zoom">
                                <img src="{{ url_for('static', filename='images/BC_Logo_.png') }}" height="40" width="40" alt="">
                                <h6 class="w3-text-yellow">Bitcoin</h6>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 w3-center mb-3">
                            <div class="zoom">
                                <img class="w3-circle" src="{{ url_for('static', filename='images/etherium.jpeg') }}" height="40" width="40" alt="">
                                <h6 class="w3-text-grey">Etherium</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>