<div class="plans" id="plans">
    <div class="container w3-center pl-5 pr-5">
        <h2 class="w3-text-white"><span class="">Investment Plans</span></h2><br>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="w3-card-4 bg-dark w3-padding w3-white plan w3-text-khaki pt-5" style="height:auto;">
                        <h2 class="w3-text-khaki"><b>Bronze Plan</b></h2>
                        <h6 class="w3-text-grey"> <span class="w3-text-grey" style="font-size:30px;">1.5%  </span> for 30days</h6><br>
                        <h5 class="w3-text-khaki"><span class="w3-text-grey">min:</span> USD 270</h5>
                        <hr class="w3-grey">
                        <h5 class="w3-text-khaki"><span class="w3-text-grey">max:</span> USD 999</h5>
                        <hr class="w3-khaki">
                        <h6 class="w3-text-grey">10% referral bonus</h6>
                        <hr class="w3-khaki">
                        <p><span>Duration:</span><span>30 days</span></p>
                        <hr>
                        <a href="/signup"><button class="btn w3-border w3-khaki w3-text-white w3-border-khaki plan-btn" style="right: 35%;outline:none;">Invest</button></a>

                    </div>
                </div>

                <div class="col-12 col-md-3">
                    <div class="w3-card-4 bg-dark w3-padding w3-white plan w3-text-khaki pt-5 " style="height: auto;">
                        <h2 class="w3-text-khaki"><b>Silver Plan</b></h2>
                        <h6 class="w3-text-grey"> <span class="w3-text-grey" style="font-size:30px;">2%  </span> for 30days</h6><br>
                        <h5 class="w3-text-khaki"><span class="w3-text-grey">min:</span> USD 1000</h5>
                        <hr class="w3-text-grey">
                        <h5 class="w3-text-khaki"><span class="w3-text-grey">max:</span> USD 9999</h5>
                        <hr class="w3-khaki">
                        <h6 class="w3-text-grey">10% referral bonus</h6>
                        <hr class="w3-khaki">
                        <p><span>Duration:</span><span>30 days</span></p>
                        <hr>
                        <a href="/signup"><button class="btn w3-border w3-khaki w3-text-white w3-border-khaki plan-btn" style="right: 35%;outline:none;">Invest</button></a>

                    </div>
                </div>

                <div class="col-12 col-md-3">
                    <div class="w3-card-4 bg-dark w3-padding w3-white plan w3-text-khaki pt-5 " style="height: auto;">
                        <h2 class="w3-text-khaki"><b>Gold Plan</b></h2>
                        <h6 class="w3-text-grey"> <span class="w3-text-grey" style="font-size:30px;">2.5% </span> for 30days</h6><br>
                        <h5 class="w3-text-khaki"><span class="w3-text-grey">min:</span> USD 10000</h5>
                        <hr class="w3-text-grey">
                        <h5 class="w3-text-khaki"><span class="w3-text-grey">max:</span> USD 99999</h5>
                        <hr class="w3-khaki">
                        <h6 class="w3-text-grey">10% referral bonus</h6>
                        <hr class="w3-khaki">
                        <p><span>Duration:</span><span>30 days</span></p>
                        <hr>
                        <a href="/signup"><button class="btn w3-border w3-khaki w3-text-white w3-border-khaki plan-btn" style="right: 35%;outline:none;">Invest</button></a>

                    </div>
                </div>

                <div class="col-12 col-md-3">
                    <div class="w3-card-4 bg-dark w3-padding w3-white plan w3-text-khaki pt-5" style="height:auto;">
                        <h2 class="w3-text-khaki"><b>Diamond Plan</b></h2>
                        <h6 class="w3-text-grey"> <span class="w3-text-grey" style="font-size:30px;">3%  </span> for 30days</h6><br>
                        <h5 class="w3-text-khaki"><span class="w3-text-grey">min:</span> USD 100000</h5>
                        <hr class="w3-text-grey">
                        <h5 class="w3-text-khaki"><span class="w3-text-grey">max:</span> USD ******</h5>
                        <hr class="w3-khaki">
                        <h6 class="w3-text-grey">10% referral bonus</h6>
                        <hr class="w3-khaki">
                        <p><span>Duration:</span><span>30 days</span></p>
                        <hr>
                        <a href="/signup"><button class="btn w3-border w3-khaki w3-text-white w3-border-khaki plan-btn" style="right: 35%;outline:none;">Invest</button></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>