<div class="" id="plans">
    <div class="container w3-center pl-5 pr-5">
        <hr class="uk-divider-icon w3-text-khaki">
        <h2 class="w3-text-khaki"><span class=""><span class="w3-text-black">Our</span>Investment Plans</span>
        </h2>
        <!-- <hr class="uk-divider-icon"> -->
        <br>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="w3-card-4 w3-padding bg-dark w3-text-khaki pt-5 mb-3" style="height:auto; ">

                        <h2 class="w3-text-khaki "><b>Bronze Plan</b></h2>
                        <h6 class="w3-text-grey "> <span class="w3-text-grey " style="font-size:30px; ">1%  </span> profit per day</h6><br>
                        <h5 class="w3-text-khaki "><span class="w3-text-grey ">min:</span> USD 270</h5>
                        <hr class="w3-grey ">
                        <h5 class="w3-text-khaki "><span class="w3-text-grey ">max:</span> USD 999</h5>
                        <hr class="w3-khaki ">
                        <h6 class="w3-text-grey ">10% referral bonus</h6>
                        <hr class="w3-khaki ">
                        <section class="more-info ">
                            <section class="d-flex ">
                                <h6 class="w3-text-khaki mr-auto ">More Info</h6>
                                <h6 class="glyphicon glyphicon-chevron-down w3-text-khaki ml-auto " id="show_bronze"></h6>
                            </section>
                            <section id="hidden-message-bronze" style="display: none; ">
                                <hr class="w3-khaki ">
                                <h6 class="w3-text-khaki ">
                                    Capitals would be returned after 7 months
                                </h6>
                            </section>
                        </section>
                        <hr class="w3-khaki ">
                        <p><span>Duration:</span><span>7 months</span></p>
                        <hr>
                        <a href="/signup "><button class="btn w3-border w3-khaki w3-text-white w3-border-khaki plan-btn " style="right: 35%;outline:none; ">Invest</button></a>

                    </div>
                </div>

                <div class="col-12 col-md-3 ">
                    <div class="w3-card-4 bg-dark w3-padding w3-white w3-text-khaki pt-5 mb-3 " style="height: auto; ">
                        <h2 class="w3-text-khaki "><b>Silver Plan</b></h2>
                        <h6 class="w3-text-grey "> <span class="w3-text-grey " style="font-size:30px; ">1.5%  </span>profit per day</h6><br>
                        <h5 class="w3-text-khaki "><span class="w3-text-grey ">min:</span> USD 1000</h5>
                        <hr class="w3-text-grey ">
                        <h5 class="w3-text-khaki "><span class="w3-text-grey ">max:</span> USD 9999</h5>
                        <hr class="w3-khaki ">
                        <h6 class="w3-text-grey ">10% referral bonus</h6>
                        <hr class="w3-khaki ">
                        <section class="more-info ">
                            <section class="d-flex ">
                                <h6 class="w3-text-khaki mr-auto ">More Info</h6>
                                <h6 class="glyphicon glyphicon-chevron-down w3-text-khaki ml-auto " id="show_silver"></h6>
                            </section>
                            <section id="hidden-message-silver" style="display: none; ">
                                <hr class="w3-khaki ">
                                <h6 class="w3-text-khaki">
                                    Capitals would be returned after 7 months
                                </h6>
                            </section>
                        </section>
                        <hr class="w3-khaki ">
                        <p><span>Duration:</span><span>7 months</span></p>
                        <hr>
                        <a href="/signup "><button class="btn w3-border w3-khaki w3-text-white w3-border-khaki plan-btn " style="right: 35%;outline:none; ">Invest</button></a>

                    </div>
                </div>

                <div class="col-12 col-md-3 ">
                    <div class="w3-card-4 w3-padding bg-dark w3-text-khaki pt-5 mb-3 " style="height: auto; ">
                        <h2 class="w3-text-khaki "><b>Gold Plan</b></h2>
                        <h6 class="w3-text-grey "> <span class="w3-text-grey " style="font-size:30px; ">2% </span>profit per day</h6><br>
                        <h5 class="w3-text-khaki "><span class="w3-text-grey ">min:</span> USD 10000</h5>
                        <hr class="w3-text-grey ">
                        <h5 class="w3-text-khaki "><span class="w3-text-grey ">max:</span> USD 99999</h5>
                        <hr class="w3-khaki ">
                        <h6 class="w3-text-grey ">10% referral bonus</h6>
                        <hr class="w3-khaki ">
                        <section class="more-info ">
                            <section class="d-flex ">
                                <h6 class="w3-text-khaki mr-auto ">More Info</h6>
                                <h6 class="glyphicon glyphicon-chevron-down w3-text-khaki ml-auto " id="show_gold"></h6>
                            </section>
                            <section id="hidden-message-gold" style="display: none; ">
                                <hr class="w3-khaki ">
                                <h6 class="w3-text-khaki ">
                                    Capitals would be returned after 7 months
                                </h6>
                            </section>
                        </section>
                        <hr class="w3-khaki ">
                        <p><span>Duration:</span><span>7 months</span></p>
                        <hr>
                        <a href="/signup "><button class="btn w3-border w3-khaki w3-text-white w3-border-khaki plan-btn " style="right: 35%;outline:none; ">Invest</button></a>

                    </div>
                </div>

                <div class="col-12 col-md-3 ">
                    <div class="w3-card-4 bg-dark w3-padding w3-text-khaki pt-5 mb-3" style="height:auto; ">
                        <h2 class="w3-text-khaki "><b>Diamond Plan</b></h2>
                        <h6 class="w3-text-grey "> <span class="w3-text-grey " style="font-size:30px; ">2.5%  </span> profit per day</h6><br>
                        <h5 class="w3-text-khaki "><span class="w3-text-grey ">min:</span> USD 100000</h5>
                        <hr class="w3-text-grey ">
                        <h5 class="w3-text-khaki "><span class="w3-text-grey ">max:</span> USD ******</h5>
                        <hr class="w3-khaki ">
                        <h6 class="w3-text-grey ">10% referral bonus</h6>
                        <hr class="w3-khaki ">
                        <section class="more-info ">
                            <section class="d-flex ">
                                <h6 class="w3-text-khaki mr-auto ">More Info</h6>
                                <h6 class="glyphicon glyphicon-chevron-down w3-text-khaki ml-auto " id="show_diamond"></h6>
                            </section>
                            <section id="hidden-message-diamond" style="display: none; ">
                                <hr class="w3-khaki ">
                                <h6 class="w3-text-khaki ">
                                    Capitals would be returned after 7 months
                                </h6>
                            </section>
                        </section>
                        <hr class="w3-khaki ">
                        <p><span>Duration:</span><span>7 months</span></p>
                        <hr>
                        <a href="/signup "><button class="btn w3-border w3-khaki w3-text-white w3-border-khaki plan-btn " style="right: 35%;outline:none; ">Invest</button></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br><br>