<div class="plans" id="plans">
    <div class="container w3-center pl-5 pr-5">
        <h2 class="w3-text-white"><span class="">Investment Plans</span></h2><br>
        <h4 class="w3-text-khaki">Investments Starts from:</h4>
        <div class="w3-card-4 bg-dark w3-padding w3-white plan w3-text-khaki pt-5 investment_plan" style="height: 50vh;">

            <h1 class="w3-text-khaki">USD 270</h1>
            <p><span>Interest rate:</span><span>50%</span></p>
            <p><span>Duration:</span><span>70 days</span></p><br>
            <a href="/signup"><button class="btn w3-border w3-khaki w3-text-white w3-border-khaki plan-btn mt-5" style="right: 35%;outline:none;">Invest</button></a>

        </div>
    </div>
</div>