<div class="container" style="padding: 4% 13%;" id="services">
    <h5 class="w3-text-green">Our Services</h5><br>
    <div class="uk-slider-container-offset" uk-slider>

        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

            <ul class="uk-slider-items uk-child-width-1-2@s uk-grid">
                <li>
                    <section class="uk-card uk-card-default">
                        <section class="uk-card-media-top">
                            <img class="img-fluid" src="{{url_for('static',filename='/images/in.jpg')}}" alt="" height="290" width="290"><br><br>
                        </section>
                        <section class="uk-card-body">
                            <h3 class="uk-card-title">Forex Investments</h3>
                            <p>Here at Perfect Trades You can invest with us and get your returns after a certain period of time scroll down for more details</p>
                            <a class="uk-button uk-button-default w3-text-grey w3-card-4" href="#plans">INVEST</a>
                        </section>
                    </section>
                </li>
                <li>
                    <section class="uk-card uk-card-default">
                        <section class="uk-card-media-top">
                            <img class="img-fluid" src="{{url_for('static',filename='/images/training.jpg')}}" alt="" height="240" width="240">
                        </section>
                        <section class="uk-card-body">
                            <h3 class="uk-card-title">Training And Forex Seminars</h3>
                            <p>We also provide online and offline training and Serminars about the Forex market and charts </p>
                            <a class="uk-button uk-button-default w3-text-grey w3-card-4" href="/training">Learn More</a>
                        </section>

                    </section>

                </li>
                <li>
                    <section class="uk-card uk-card-default">
                        <section class="uk-card-media-top">
                            <img class="img-fluid" src="{{url_for('static',filename='/images/f.jpg')}}" alt="" height="220" width="220"><br><br>
                        </section>
                        <section class="uk-card-body">
                            <h3 class="uk-card-title">Forex Signals</h3>
                            <p>We Provide Analysis about the Forex Market and charts and When to invest,you can Subscribe to get our Signals</p>
                            <a class="uk-button uk-button-default w3-text-grey w3-card-4" href="/signals">SUBSCRIBE</a>
                        </section>
                    </section>
                </li>
            </ul>

            <a class="uk-position-center-left uk-position-small uk-hidden-hover w3-text-grey" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover w3-text-grey" href="#" uk-slidenav-next uk-slider-item="next"></a>

        </div>

        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

    </div>
</div>