<div class="container w3-center w3-padding" id="guarantees">
    <h2 class="w3-text-red mb-5"><span class=" pb-3">Our Guarantees</span></h2><br><br>
    <div class="row">
        <div class="col-12 col-md-4 mb-3 w3-text-grey">
            <div class="">
                <h5>Safe and Secure</h5>
                <h6>We Run all our tradings on highly Secured Servers Located in US and the UK.These Servers have the Best Security Architecture</h6>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3 w3-text-grey">
            <div class=" ">
                <h5>World coverage</h5>
                <h6>Providing Services In More Than 200 Countries across the Globe</h6>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3 w3-text-grey">
            <div class="">
                <h5>Secure Wallet</h5>
                <h6>We have made the Provisions To make sure our Wallets safe and secure</h6>
            </div>
        </div>

    </div>
</div>