<div class="p-5">
    <div class="container">
        <div class="p-2 w3-center">
            <h3 class="w3-text-red ">Lets Meet The Team </h3>
            <h6>Lets Meet The Brains of The Our Trading Team And our Foundation</h6>
        </div>
        <div class="row">
            <div class="col-12 col-md-2">
            </div>
            <div class="col-12 col-md-4 mb-5">
                <div class="w3-card w3-round p-2">
                    <div id="main-portfolio">
                        <div class="w3-text-grey d-flex">
                            <span class="w3-large">Salem Etong</span>
                            <span class="ml-auto">Founder/CEO</span>
                        </div>
                        <div class="info-text m-3 p-3 w3-text-grey w3-center">
                            <p>Salem Etong is a Professional and an expert in Forex Trading having over 3 years experience in Forex trading. He is based in Nigeria and he is a Christian </p>
                        </div>
                        <hr>
                        <div class="w3-center p-2">
                            <button class="btn btn-danger pl-5 pr-5" id="show-portfolio">View Port-Folio</button>
                        </div>
                    </div>
                    <div id="hidden-portfolio" class="bg-dark container-fluid w3-round w3-text-white p-3" style="display: none;">
                        <div class="info-text m-3 p-3 w3-text-white w3-center">
                            <p> He has worked with Pacesetters Trading Institutes, BBV trading and Investment Company, Acceptable Forex Company and Jayness Enterprise Trading Company. He is also interested in Trading for any other Forex Companies.
                            </p>
                        </div>
                        <hr>
                        <div class="w3-center p-2">
                            <button class="btn btn-danger pl-5 pr-5" id="hide-portfolio">close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="w3-card w3-round p-2">
                    <div id="main-portfolio-1">
                        <div class="w3-text-grey d-flex">
                            <span class="w3-large">MichaeL Innocent Hanson</span>
                            <span class="ml-auto">Co-Trader</span>
                        </div>
                        <div class="info-text m-3 p-3 w3-text-grey w3-center">
                            <p> Micheal Innocent is a Professional in Forex Trading having over 2 years experience in Forex trading. He is also based in Nigeria and he is a Christian </p>
                        </div>
                        <hr>
                        <div class="w3-center p-2">
                            <button class="btn btn-danger pl-5 pr-5" id="show-portfolio-1">View Port-Folio</button>
                        </div>
                    </div>
                    <div id="hidden-portfolio-1" class="bg-dark container-fluid w3-round w3-text-white p-3" style="display: none;">
                        <div class="info-text m-3 p-3 w3-text-white w3-center">
                            <p> He has worked with BBV trading and Investment Company, Acceptable Forex Company, Jayness Enterprise Trading Company. </div>
                        <hr>
                        <div class="w3-center p-2">
                            <button class="btn btn-danger pl-5 pr-5" id="hide-portfolio-1">close</button>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-2">
                </div>
            </div>
        </div>
    </div>