<div class="welcome bg-dark w3-center">

    <!-- navigation  -->
    {% include('components/navigation.html') %}
    <!--  -->
    <hr class="w3-text-white">
    <div class="container w3-text-white welcome-text w3-animate-fade">
        <div class="row">
            <div class="co-12 col-md-12">
                <div class="w3-text-white mt-5">
                    <h1 class="w3-text-white">Welcome To Perfect Trade</h1>
                    <h6 class="w3-text-white">We are Forex Traders on Both Currencies and Indicies Such as CFD indicies and Synthetic Indicies</h6>

                    <!-- <h1 class="w3-text-white">What We Do</h1>
                    <h6 class="w3-text-white">We are Forex Traders on Both Currencies and Indicies Such as CFD indicies and Synthetic Indicies</h6>
                    <h5></h5> -->
                    <a href="/signup"><button class="w3-button welcome-button btn-danger w3-hover-white w3-hover-text-red w3-text-white">Get Started</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
