<div class="container w3-center">
    <h1 class="w3-text-grey">Our Plans</h1>
    <div class="p-5 row w3-center">
        <div class="col-12 col-md-4 mb-3">
            <div class="w3-card w3-padding w3-white w3-round plan w3-text-khaki">
                <h4 class="w3-text-khaki">Bronze</h4>
                <h3 class="w3-text-khaki">$250 - $900</h3>
                <p><span>Interest rate:</span><span>15%</span></p><br>
                <button class="btn w3-border w3-khaki w3-text-white w3-border-khaki plan-btn">Invest</button>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <div class="w3-card w3-padding w3-text-grey w3-white w3-round plan">
                <h4 class="w3-text-grey">Silver</h4>
                <h3 class="w3-text-grey">$1000 - $9000</h3>
                <p><span>Interest rate:</span><span>15%</span></p><br>
                <button class="btn w3-border w3-light-grey w3-text-grey w3-border-grey plan-btn">Invest</button>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <div class="w3-card w3-padding w3-text-yellow w3-white w3-round plan">
                <h4 class="w3-text-yellow">Gold</h4>
                <h3 class="w3-text-yellow">$10000 And Above</h3>
                <p><span>Interest rate:</span><span>15%</span></p>
                <br>
                <button class="btn w3-border w3-text-yellow w3-pale-yellow w3-border-yellow plan-btn">Invest</button>
            </div>
        </div>
    </div>
</div>