<div class="w3-sidebar w3-bar-block w3-green" id="sidebar">
    <header class="w3-center w3-text-white mb-5">
        <h3>Perfect Trade</h3>
    </header>
    {% include 'Dashboard/components/confirm_logout.html' %}
    <a href="/dashboard" class="w3-bar-item w3-button w3-hover-pale-green w3-hover-text-green w3-pale-green w3-text-green">Home</a>
    <a href="accounts" class="w3-bar-item w3-button w3-hover-pale-green w3-hover-text-green">Accounts</a>
    <a href="invest" class="w3-bar-item w3-button w3-hover-pale-green w3-hover-text-green">Invest</a>
    <a href="charts" class="w3-bar-item w3-button w3-hover-pale-green w3-hover-text-green">Charts</a>
    <a href="withdrawals" class="w3-bar-item w3-button w3-hover-pale-green w3-hover-text-green">Withdraws</a>
    <a href="changepassword" class="w3-bar-item w3-button w3-hover-pale-green w3-hover-text-green">Change Password</a>
    <!-- <a href="referrals" class="w3-bar-item w3-button w3-hover-pale-green w3-hover-text-green">Referrals</a> -->
    <a class="w3-bar-item w3-button w3-hover-pale-green w3-hover-text-green mb-5" id="logout">Log Out</a>

    <div class="message w3-margin w3-white  w3-text-green w3-center w3-padding" style="border-radius: 7px;">
        <div class="info">
            <h5 class="w3-text-green">Tips</h5>
            <p>We Are Open 24/7 we wil able to respond to you on time</p>
            <button class="btn w3-pale-green w3-text-green">Invest Now</button>
        </div>
    </div>
</div>