{% extends 'layout.html'%} {% block content %}
<div>
    <!-- Wecome Components -->
    <div>
        {% include 'components/welcome.html' %}
    </div><br>
    <div uk-scrollspy="target:div;cls:uk-animation-fade;delay:5;repeat:true" style="border-radius:20px;">
        {% include 'components/charts.html'%}
    </div>
    <!-- Our Services -->
    <div uk-scrollspy="target:div;cls:uk-animation-slide-bottom;delay:10;repeat:true">
        {% include 'components/services.html' %}
    </div>
    <!-- payments Method -->
    <div uk-scrollspy="target:div;cls:uk-animation-slide-bottom;delay:10;repeat:true">
        {% include 'components/guarantees.html' %}
    </div>
    <!--  -->
    <!-- investment Plans -->
    <div uk-scrollspy="target:div;cls:uk-animation-slide-left;delay:10;repeat:true">
        {% include 'components/plans.html' %}
    </div>
    <!--  -->
    <!-- payments Method -->
    <div uk-scrollspy="target:div;cls:uk-animation-slide-right;delay:10;repeat:true">
        {% include 'components/payments.html' %}
    </div>
    <!--  -->
    <!-- About us -->
    <div uk-scrollspy="target:div;cls:uk-animation-slide-left;delay:10;repeat:true">
        {% include 'components/about.html' %}
    </div>

    <!--  -->

    <!-- Contact -->
    <div uk-scrollspy="target:.col-12;cls:uk-animation-slide-bottom;delay:30;repeat:true">
        {% include 'components/contacts.html' %}
    </div>
    <!--  -->
    <!-- FAQS -->
    <!-- <div uk-scrollspy="target:div;cls:uk-animation-slide-bottom;delay:300;repeat:true">
        {% include 'components/faq.html'%}
    </div> -->

    <!--  -->

</div>
{% endblock %}