html,
body {
    height: 100%;
}

html,
h2,
h1,
h3,
h4,
h5,
h6,
div,
p,
span,
input {
    font-family: product, sans-serif;
}

.cp-inputs {
    width: 30%;
    padding: 0.6%;
    outline-color: green;
}

a:hover {
    text-decoration: none;
}

.w3-sidebar {
    width: 21%;
    background: transparent;
    padding: 1%;
    z-index: 1000;
}

.main-content {
    margin: 0.5% 1% 1% 23%;
    border-radius: 7px;
    min-height: 98vh;
    padding: 1%
}

.w3-sidebar a {
    border-radius: 8px;
}

.flex-container {
    width: 50%;
}

.plans {
    width: 100%;
    overflow-x: scroll;
}

.paystack_input {
    width: 80%;
    outline: none;
    border-radius: 7px;
    border-width: 1px;
    padding: 1.5%;
}

.pay-btn {
    width: 85%;
}

@media only screen and (max-width:767px) {
    .w3-sidebar {
        width: 50%;
        background: transparent;
        padding: 1%;
        display: none;
    }
    .main-content {
        margin: 0.5% 1% 1% 1%;
        border-radius: 7px;
        min-height: 98vh;
        padding: 1%;
    }
    #side-btn {
        display: block;
    }
    .cp-inputs {
        width: 60%;
    }
}

@media only screen and (min-width:768px) {
    .w3-sidebar {
        width: 21%;
        background: transparent;
        padding: 1%;
        display: block!important;
    }
    #side-btn {
        display: none;
    }
    .w3-overlay {
        display: none!important;
    }
}

#copied-text {
    width: 50%;
    border: none;
    outline: none;
    background: none;
}

#withdraw {
    border-radius: 20px;
}

#withdraw-btn {
    border-radius: 20px;
    padding: 2% 10%;
}

#refresh-balance {
    border-radius: 20px;
    padding: 2% 10%;
}

.mybtn {
    border-radius: 20px;
    padding: 2% 10%;
}

.currency,
.amount {
    width: 80%;
    border: none;
    border-radius: 10px;
    outline: none;
    height: 4vh;
    padding: 1%;
    color: gray;
}

.border-radius {
    border-radius: 20px;
}