{% extends "Admin/admin_layout.html" %} {% block admin_dashboard %}
<div class="main-content p-2 w3-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="p1">
                    <h2 class="w3-text-grey w3-center">Investors</h2>
                    {% for client in Clients %}
                    <div class="bg-light w3-text-grey p-3 border-radius">
                        <h3>{{client["Surname"]}} {{client["Firstname"]}} </h3>
                        <h5>Investors</h5>
                        <hr>
                    </div><br> {% endfor %}
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="w3-card p-2 w3-text-grey">
                    <h3 class="w3-text-green">Requested Withdraws</h3>
                    <div class="w3-text-grey">
                        <ul class="w3-ul">
                            {% if withdraws %} {% for i in range(0,length) %}
                            <li class="">
                                <h3 class="">{{withdraws[i]["Name"]}}</h3>
                                <div class="withdraw-details w3-medium w3-text-green"><span class="w3-right"><span class="w3-text-green">{{withdraws[i]["Amount"]}}</span> <span class="w3-text-green">{{withdraws[i]["Currency"]}}</span></span> <span class="">{{withdraws[i]["Date"].strftime("%c")}}</span></div>

                                <div class="withdraw-buttons">
                                    <button class="btn w3-pale-green w3-text-green border-radius" id="accept_Withdraw">Accept</button>
                                    <button class="btn w3-right w3-pale-red w3-text-red border-radius" id="reject_withdrawal">Reject</button>

                                </div>
                            </li>
                            {% if i > 3 %} {% endif %} {% endfor %}
                            <div class="w3-center">
                                <a href="withdraws"><button class="btn w3-pale-blue w3-text-blue btn-lg">Show All Withdraws</button></a>
                            </div>
                            {% else %}
                            <div class="w3-center p-5">
                                <h3 class="w3-text-light-grey">No Withdraws Yet</h3>
                            </div>
                            {% endif %}
                        </ul>
                    </div>

                </div><br>
                <!-- Recent investments -->
                <div class="w3-card p-2 w3-text-grey">
                    <h3 class="w3-text-green">Recent Investments</h3>
                    <div class="w3-text-grey">
                        <ul class="w3-ul">
                            {% if investments %} {% for i in range(0,ln) %} {% if i > 3%}
                            <div>

                            </div>
                            {% endif %}
                            <li class="">
                                <div>
                                    <div class="name">
                                        <h3 class="">{{investments[i]["Name"]}}</h3>
                                        <h5>{{investments[i]["Plan"]}}</h5>
                                        <div class="d-flex">
                                            <h5>{{investments[i]["Percentage"]}}%</h5>
                                            <h5 class="ml-auto">{{investments[i]["Duration(Days)"]}} Days</h5>
                                        </div>
                                        <div class="d-flex">
                                            <h5 class="w3-text-green">{{investments[i]["Amount"]}} {{investments[i]["Currency"]}}</h5>
                                            <h5 class="w3-text-green ml-auto">{{investments[i]["Amount_Recieved"]}} {{investments[i]["Currency"]}}</h5>
                                        </div>
                                        <div class="d-flex">
                                            <h5 class="">{{investments[i]["Date_Invested"]}}</h5>
                                            <h5 class="ml-auto">{{investments[i]["Date_Of_Returns"]}}</h5>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                            <div class="w3-center">
                                <a href="investments"><button class="btn w3-pale-blue w3-text-blue btn-lg">Show All Investment</button></a>
                            </div>
                            {% else %}
                            <div class="w3-center p-5">
                                <h3 class="w3-text-light-grey">No Investments Yet</h3>
                            </div>
                            {% endif %}
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}