{% extends 'Admin/login_layout.html' %} {% block admin_login %}
<div class="login-container">
    {% include 'Admin/components/login_navigation.html' %}
    <div class="container form">
        <div class="">
            {% include 'Admin/components/messages.html'%}
            <header class="w3-center mt-2">
                <h3 class="w3-text-green">Adminstrator</h3>
                <p class="w3-text-grey w3-small w3-margin">Hello Admin Login To Continue </p>

            </header>
            <form method="POST" action="" class="container w3-padding w3-center w3-text-grey">
                <input type="username" name="username" id="email" class="login-inputs password mb-2" placeholder="Username"><br>
                <input type="password" name="password" id="password" class="login-inputs password mb-2" placeholder="Password"><br>

                <br>
                <button class="w3-button w3-green submit-btn w3-hover-pale-green w3-hover-text-green">Login</button><br>

        </div>
    </div>

</div>
{% include "User/components/script.html" %} {% endblock %}