{% extends 'Dashboard/dashboard_layout.html'%} {% block dashboard %}
<div class="main-content w3-white">
    {% include 'Dashboard/components/navigation.html' %}
    <div class="container ">
        <div class=" w3-text-green p-4 w3-round">
            <div class="">
                <h3 class="w3-text-green">Hello {{fullname}}</h3>
            </div>
        </div>
        <div class="container form w-md-50 m-auto">
            <div class="">
                <header class="status ">
                    {% include 'components/messages.html' %}
                </header>
                <header class="w3-center mt-2">
                    <h3 class="w3-text-green"> Change Password</h3>
                    <p class="w3-text-grey w3-small w3-margin">Please Complete The follwing Form To Change Your Password</p>

                </header>

                <form action="" method="POST" class="container w3-padding w3-center w3-text-grey" id="change_password_form">
                    <input type="password" name="old_password" id="old_password" class="cp-inputs mb-2 w3-border w3-border-light-gray" required placeholder="Enter Old Password"><br><br>
                    <input type="password" name="new_password" minlength="8" id="new_password" class="cp-inputs mb-2 w3-border w3-border-light-gray" required placeholder="Enter New Password"><br>
                    <p class="w3-text-red" id="new_password_err"></p><br>


                    <input type="password" name="confirm_new_password" minlength="8" id="confirm_new_password" class="cp-inputs mb-2 w3-border w3-border-light-gray" required placeholder="Confirm Password"><br>
                    <p class="w3-text-red" id="confirm_password_err"></p><br>
                    <br>
                    <button class="w3-button w3-green fp-submit-btn w3-hover-pale-green w3-hover-text-green">Change Password</button><br>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}