{% extends 'User/user_layout.html' %} {% block user %}
<div class="login-container">
    {% include 'User/components/navigation.html' %}
    <div class="container form">
        <div class="">
            <header class="status ">
                <header class=" w3-animate-opacity w3-center w3-pale-{{message['color']}} w3-text-white p-3 w3-container">
                    <h6 class="w3-text-{{message['color']}}">{{message['message']}}</h6>
                </header>
                {% include 'User/components/messages.html'%}
            </header>
            <header class="w3-center mt-2">
                <h3 class="w3-text-green"> Change Password</h3>
                <p class="w3-text-grey w3-small w3-margin">Your Recovery Pin Has Been Sent To Your Email </p>

            </header>
            <form action="" method="POST" class="container w3-padding w3-center w3-text-grey">
                <input type="text" name="r_pin" id="r_pin" class="fp-inputs password mb-2 w3-border w3-border-light-gray" required placeholder="Enter Recovery Pin"><br>
                <input type="password" name="new_password" id="new_password" class="fp-inputs password mb-2 w3-border w3-border-light-gray" placeholder="Enter New Password"><br>
                <input type="password" name="confirm_password" id="confirm_password" class="fp-inputs password mb-2 w3-border w3-border-light-gray" placeholder="Confirm Password"><br>
                <br>
                <button class="w3-button w3-green submit-btn w3-hover-pale-green w3-hover-text-green">Submit</button><br>
            </form>
        </div>
    </div>

</div>
{% include "User/components/script.html" %} {% endblock %}