{% extends 'User/user_layout.html' %} {% block user %}
<div class="login-container">
    {% include 'User/components/navigation.html' %} {% from 'User/components/helper.html' import render_field %}
    <div class="container signup-form">
        <div class="w3-card card">
            {% include 'User/components/messages.html'%}
            <header class="w3-center mt-2">
                <h3 class="w3-text-green">Sign Up</h3>
                <p class="w3-text-grey w3-small w3-margin">Hello there! Register And Get Your Investing Started </p>

            </header>
            <form action="" method="POST" class="container w3-padding w3-center w3-text-grey">
                <ci>{{ render_field(form.surname,minLength='3', class_="signup-inputs validate",id="s_name", placeholder="Surname")}}</ci>
                <p class="w3-small w3-text-red" id="s_name_err"></p>
                <ci>{{ render_field(form.firstName,minLength='3', class_="signup-inputs validate",id="f_name",placeholder="First Name")}}</ci>
                <p class="w3-small w3-text-red" id="f_name_err"></p>
                <ci>{{ render_field(form.email, type="email", class_="signup-inputs ", placeholder="Email")}}</ci>
                <ci> {{ render_field(form.password,minLength='8', class_="signup-inputs validate",id="password", placeholder="Choose A Password")}}</ci>
                <p class="w3-small w3-text-red" id="password_err"></p>
                <ci>{{ render_field(form.confirm_password,minLength='8', class_="signup-inputs ", placeholder="Confirm Password")}}</ci>
                <!-- <input type="email" name="email" id="email" class="signup-inputs password " placeholder="Email"><br>
                <input type="password" name="password" id="password" class="signup-inputs password " placeholder="Password"><br>
                <input type="email" name="email" id="email" class="signup-inputs password " placeholder="Email"><br>
                <input type="password" name="password" id="password" class="signup-inputs password " placeholder="Password"><br>

                <br> -->
                <button class="w3-button w3-green submit-btn w3-hover-pale-green w3-hover-text-green">Register</button><br>
                <a href="/login" class="w3-text-green">Back To Login</a>
            </form>
        </div>
    </div>

</div>
{% include "User/components/script.html" %} {% endblock %}