<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supernatural Perfect Trade | {{Page}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/w3.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/bootstrap/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/login_v1.06.css')}}">
</head>

<body>
    <div class="container w3-container ">
        {% block user %} {% endblock%}

</html>